*{
  transition: all 0.1s;
}
.block-title{
  font-weight: bold;
}
div[data-value='Information']{
  .display-flex {
  flex-wrap: wrap;
  
  & > * {
    flex-basis: 30%;
  }
}
}

div[data-value='Diagnosis']{
  .display-flex {
  flex-wrap: wrap;
  
  & > * {
    flex-basis: 50%;
  }
}
}

.toast.toast-center.toast-with-icon.modal-in{
  min-width: 300px;
}
.toast-button.button{
  size: 9px;
}

input[type='text']{
    padding: 10px 20px 10px 10px;
    border-width: 0 0 1px 0;
    border-bottom-color: var(--f7-theme-color);
}
  
.theme-dark{
  .ms-Toggle-background{
    background-color: #000;
    border-color: #a8a8a8;
    &:hover .ms-Toggle-thumb {
      background-color: rgb(102, 101, 100);
    }
  }
  .ms-Label {
    color: var(--f7-block-title-text-color);
  }
  .ms-TextField{
    label{
      color: var(--f7-block-title-text-color);
    }
    input[type='text']{
      background-color: #000;
      ::placeholder{
        color: var(--f7-color-gray);
      }
    }
  }
  .swal2-popup{
    background-color: #171717; 
    transform: scale(.7);
    .swal2-content, .swal2-title{
      color: var(--f7-block-title-text-color);
    }
  }
}